.formControl {
    border-color: #d6d6d6;
    padding: 3px  25px; 
    width: 100%;
}
.form-group{
    width: 33%;
    margin-right: 10px;
}
.form-group p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    
}
.form-p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin: 5px 15px;

}
.header{
    color: #6f6d6d;
    padding: 15px;
}
.form-group1{
    margin: 20px;
    border: 1px solid #f5f5f5;
    
}
.form-group2{
    margin: 20px;
    border: 1px solid #f5f5f5;
    
}
select option[disabled] {
    color: #999;
}

.head{
    display: flex;
    margin: 20px;
    text-align: center
}
.head h6{
    color:#b2b2b2 ;
    margin-top: 10px;
    margin-right: 30px;
}
.head h4{
    margin-top: 5px;
}
::placeholder{
    color: #b2b2b2;
}
.form-label{
    font-size: 17px;
    font-weight: 700;
}
.max ::placeholder{
    color: black;
    text-align: center;
    font-weight: 600;
}
.selext{
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    border-color: #d4d4d4;
}
.selection{
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    border-color: #d4d4d4;
    color: #b2b2b2;
}
label span{
    color: #b2b2b2;
}
.bold ::placeholder{
    color: black;
    margin-left: 5px;
}
.borde{
    border: 1px solid rgb(195, 195, 195);
    margin-top: 20px;
}
.item-form{
    display: flex;
    justify-content: space-between;
    margin: 30px 5px;
}
.item-form h5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 18px;
}
.item-form h6{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(87, 87, 236);
}
.tabel_data{
    font-size: 19px;
    font-weight: 700;
    margin: 10px 0px;
   
}
.btn-cansel{
    border: 1px solid rgb(215, 215, 219);
    background-color: white;
    padding: 10px 40px; 
    margin-bottom: 10px;
    border-radius: 2px;
    font-size: 18px;
}
.btn-save{
   border: none;
    background-color: rgb(7, 250, 202) ;
    padding: 10px 45px;
    margin-bottom: 10px;
    border-radius: 2px;
    font-size: 18px;

}
thead tr th span{
    color: #b2b2b2;
}