

<jqxDataTable [width]="1500" [columns]="columns" [selectionMode]="'singleRow'"
              [altRows]="true" [sortable]="true" [editable]="true">
    <table id='table' border='1' class="table">
        <thead class="table-success">
            <tr>
                <th align='left'>ID</th>
                <th align='left'>Widget Name</th>
                <th align='left'>Packag Name</th>
                <th align='right'>Directive Name </th>
                <th align='right'>Requrid</th>
                <th align='left'>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of allData let i = index">
                <td>{{data.id}}</td>
                <td>{{data.WidgetName}}</td>
                <td>{{data.Description}}</td>
                <td >{{data.Parameter}}</td>
                <td>{{data.Requrid}}</td>
                <td>
                    <div class="icon d-flex justify-content-center">
                        <i class="fa-regular fa-eye"></i>
                    <i (click)="EditRow(i)" class="fa-regular fa-pen-to-square"></i>
                    <i (click)="delRow()" class="fa-solid fa-trash-can"></i>
                    </div>
                </td>
            </tr>
            
     
        </tbody>
    </table>
</jqxDataTable>

